# Binaries
*.exe
*.exe~
*.bin
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage output
*.out

# Dependency directories
# vendor/

# Go workspace files
go.work
go.work.sum

# Environment files
.env

# Local compose override
dev.docker-compose.yml

